code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-title {
  color: black;
}

.no-decoration-link:hover {
  color: inherit;
  text-decoration: none;
}

.orange {
  color: #e57905;
}

.is-justify-content-flex-start-mobile {
  justify-content: flex-start;
}

@media screen and (min-width: 769px) {
  .is-justify-content-flex-start-mobile {
    justify-content: flex-end;
  }
}
